/*  Author: Guoliang Chen -> gchen08
            Maxwell Bockmann -> mwbockma
    Project: AST101 Final Project
    What is it about: A simple simulation of the solar system
    When is it due: December, 2020
    When did I started: November 17th

    Second revision started: December 10th
        Goal:   1.  adding all planet in the solar system
                2.  adding options to change the scale to realistic
                3.  adding more details to each planet (Optional)
*/

:root{ 
    
    --sizeOffset:1;

    --sizeBorder: calc(1px * var(--sizeOffset));
    --sizeSun: calc(50px* var(--sizeOffset));

    --sizeMercuryOrbit:calc(100px * var(--sizeOffset));
    --sizeMercury:calc(5px * var(--sizeOffset));
    --orbMercury:15s;
    --colorMercury:#c28c27;

    --sizeVenusOrbit:calc(150px * var(--sizeOffset));
    --sizeVenus:calc(6px * var(--sizeOffset));
    --orbVenus:19s;
    --colorVenus:#f8d820;

    --sizeEarthOrbit:calc(200px * var(--sizeOffset));
    --sizeEarth:calc(7px* var(--sizeOffset));
    --orbEarth:30s;
    --colorEarth:#11abe9;

    --sizeMarsOrbit:calc(250px * var(--sizeOffset));
    --sizeMars:calc(7px * var(--sizeOffset));
    --orbMars:36s;
    --colorMars:#ec561b;

    --sizeJupiterOrbit:calc(350px * var(--sizeOffset));
    --sizeJupiter:calc(28px * var(--sizeOffset));
    --orbJupiter:55s;
    --colorJupiter:#993902;

    --sizeSaturnOrbit:calc(450px * var(--sizeOffset));
    --sizeSaturn:calc(25px * var(--sizeOffset));
    --orbSaturn:120s;
    --colorSaturn:#995731;

    --sizeUranusOrbit:calc(550px * var(--sizeOffset));
    --sizeUranus:calc(13px * var(--sizeOffset));
    --orbUranus:240s;
    --colorUranus:#a78c7d;

    --sizeNeptuneOrbit:calc(650px * var(--sizeOffset));
    --sizeNeptune:calc(12px * var(--sizeOffset));
    --orbNeptune:480s;
    --colorNeptune:#8d8b8a;

    --sizeMoon:calc(2px * var(--sizeOffset));
    --sizeMoonOrbit:calc(15px * var(--sizeOffset));
    --orbMoon:1.5s;

    
}
html {
    height: 100%;
    background: radial-gradient(ellipse at top, #7649fe, #0c164f 100%),
                radial-gradient(ellipse at bottom, #0c164f 100%, #1d1135 0%);
    /* color source : https://colorswall.com/palette/134/ I simply googled "space color" and this is the first thing pops out*/
    /* radial-gradient is learnt from  https://developer.mozilla.org/en-US/docs/Web/CSS/radial-gradient*/
    overflow: hidden;
}
/* Just to meet the Syracuse Guideline. I am prabably one of the few students who know and use this font*/
@font-face {
font-family: 'ShermanSans';
src: url('https://assets.syracuse.edu/fonts/shermansans-book.woff2') format('woff2'),
    url('https://assets.syracuse.edu/fonts/shermansans-book.woff') format('woff'),
    url('https://assets.syracuse.edu/fonts/shermansans-book.eot') format('embedded-opentype');
font-weight: normal;
font-style: normal;
font-display: swap;
unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}

@font-face {
font-family: 'ShermanSans';
src: url('https://assets.syracuse.edu/fonts/shermansans-book-intl.woff2') format('woff2'),
    url('https://assets.syracuse.edu/fonts/shermansans-book-intl.woff') format('woff'),
    url('https://assets.syracuse.edu/fonts/shermansans-book-intl.eot') format('embedded-opentype');
font-weight: normal;
font-style: normal;
font-display: swap;
unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
}

body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: ShermanSans, Verdana, sans-serif;
    font-weight: 500;
    color: #2f3234;
    overflow: hidden!important
}

.space{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    color: #fff;
    background-attachment: fixed;
    top: 50%;
    left: 50%;
    position: absolute;
}

#solar-container {
    /*   position: relative; */
      top: 25px;
      left: 25px;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      transition: 0.5s;
    }

#control-container {
    /*   position: relative; */
        top: 25px;
        left: 25px;
        height: 100%;
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

.sun {
    background: radial-gradient(ellipse at center, #ffe678 0%, #f1cf70 20%, #e06317 100%);
    background-size: 200%;
    height: var(--sizeSun);
    width: var(--sizeSun);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px 5px rgba(177, 73, 12, 0.712);
    border-radius: 50%;
}

.orbitMercury {
    --orbit:var(--sizeMercuryOrbit);
    --time:var(--orbMercury);

    background-size: 200%;
    border: var(--sizeBorder) rgba(248, 198, 246, 0.356) dashed;
    height: var(--orbit);
    width: var(--orbit);

    position: fixed;
    top:-100%; right:-100%; left:-100%; bottom:-100%;
    margin:auto;
    border-radius: 50%;
    -webkit-animation: orb var(--time) linear infinite;
    animation: orb var(--time) linear infinite;
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    z-index: 20;
}

.planetMercury {
    /*variable get from global*/
    --orbit:var(--sizeMercuryOrbit);
    --planet:var(--sizeMercury);
    --color:var(--colorMercury);

    border-radius: 50%;
    height: var(--planet);
    width: var(--planet);
    background: var(--color);
    margin-top: calc(-0.5 * var(--planet) - 0.5 * var(--sizeBorder));
    margin-left: calc(0.5 * var(--orbit) - 0.5* var(--planet) - 0.5 * var(--sizeBorder) );
    position: absolute;
}

.orbitVenus {
    --orbit:var(--sizeVenusOrbit);
    --time:var(--orbVenus);

    background-size: 200%;
    border: var(--sizeBorder) rgba(248, 198, 246, 0.356) dashed;
    height: var(--orbit);
    width: var(--orbit);

    position: fixed;
    top:-100%; right:-100%; left:-100%; bottom:-100%;
    margin:auto;
    border-radius: 50%;
    -webkit-animation: orb var(--time) linear infinite;
    animation: orb var(--time) linear infinite;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    z-index: 19;
}

.planetVenus {
    /*variable get from global*/
    --orbit:var(--sizeVenusOrbit);
    --planet:var(--sizeVenus);
    --color:var(--colorVenus);

    border-radius: 50%;
    height: var(--planet);
    width: var(--planet);
    background: var(--color);
    margin-top: calc(-0.5 * var(--planet) - 0.5 * var(--sizeBorder));
    margin-left: calc(0.5 * var(--orbit) - 0.5* var(--planet) - 0.5 * var(--sizeBorder) );
}


.orbitEarth {
    --orbit:var(--sizeEarthOrbit) !important;
    --time:var(--orbEarth) !important;
    all:inherit;

    background-size: 200%;
    border: var(--sizeBorder) rgba(248, 198, 246, 0.356) dashed;
    height: var(--orbit);
    width: var(--orbit);
    position: fixed;
    top:-100%; right:-100%; left:-100%; bottom:-100%;
    margin:auto;
    border-radius: 50%;
    -webkit-animation: orb var(--time) linear infinite;
    animation: orb var(--time) linear infinite;
    -webkit-animation-delay: -34s;
    animation-delay: -34s;
    z-index: 18;
}

.planetEarth {
    --orbit:var(--sizeEarthOrbit);
    --planet:var(--sizeEarth);
    --color:var(--colorEarth);

    border-radius: 50%;
    height: var(--planet);
    width: var(--planet);
    background: var(--color);
    margin-top: calc(-0.5 * var(--planet) - 0.5 * var(--sizeBorder));
    margin-left: calc(0.5 * var(--orbit) - 0.5* var(--planet) - 0.5 * var(--sizeBorder) );
    position: absolute;
}


.orbitMars {
    --orbit:var(--sizeMarsOrbit);
    --time:var(--orbMars);

    background-size: 200%;
    border: var(--sizeBorder) rgba(248, 198, 246, 0.356) dashed;
    height: var(--orbit);
    width: var(--orbit);
    position: fixed;
    top:-100%; right:-100%; left:-100%; bottom:-100%;
    margin:auto;
    border-radius: 50%;
    -webkit-animation: orb var(--time) linear infinite;
    animation: orb var(--time) linear infinite;
    -webkit-animation-delay: -14s;
    animation-delay: -14s;
    z-index: 17;
}

.planetMars {
    --orbit:var(--sizeMarsOrbit);
    --planet:var(--sizeMars);
    --color : var(--colorMars);

    border-radius: 50%;
    height: var(--planet);
    width: var(--planet);
    background: var(--color);
    margin-top: calc(-0.5 * var(--planet) - 0.5 * var(--sizeBorder));
    margin-left: calc(0.5 * var(--orbit) - 0.5* var(--planet) - 0.5 * var(--sizeBorder) );
    position: absolute;
}

.orbitJupiter {
    --orbit:var(--sizeJupiterOrbit);
    --time:var(--orbJupiter);

    background-size: 200%;
    border: var(--sizeBorder) rgba(248, 198, 246, 0.356) dashed;
    height: var(--orbit);
    width: var(--orbit);
    position: fixed;
    top:-100%; right:-100%; left:-100%; bottom:-100%;
    margin:auto;
    border-radius: 50%;
    -webkit-animation: orb var(--time) linear infinite;
    animation: orb var(--time) linear infinite;
    -webkit-animation-delay: calc(-0.6 * var(--time));
    animation-delay: calc(-0.6 * var(--time));
    z-index: 16;
}

.planetJupiter {
    --orbit:var(--sizeJupiterOrbit);
    --planet:var(--sizeJupiter);
    --color : var(--colorJupiter);

    border-radius: 50%;
    height: var(--planet);
    width: var(--planet);
    background: var(--color);
    margin-top: calc(-0.5 * var(--planet) - 0.5 * var(--sizeBorder));
    margin-left: calc(0.5 * var(--orbit) - 0.5* var(--planet) - 0.5 * var(--sizeBorder) );
    position: absolute;
}

.orbitSaturn {
    --orbit:var(--sizeSaturnOrbit);
    --time:var(--orbSaturn);

    background-size: 200%;
    border: var(--sizeBorder) rgba(248, 198, 246, 0.356) dashed;
    height: var(--orbit);
    width: var(--orbit);
    position: fixed;
    top:-100%; right:-100%; left:-100%; bottom:-100%;
    margin:auto;
    border-radius: 50%;
    -webkit-animation: orb var(--time) linear infinite;
    animation: orb var(--time) linear infinite;
    -webkit-animation-delay: calc(-0.8 * var(--time));
    animation-delay: calc(-0.8 * var(--time));
    z-index: 15;
}

.planetSaturn {
    --orbit:var(--sizeSaturnOrbit);
    --planet:var(--sizeSaturn);
    --color : var(--colorSaturn);

    border-radius: 50%;
    height: var(--planet);
    width: var(--planet);
    background: var(--color);
    margin-top: calc(-0.5 * var(--planet) - 0.5 * var(--sizeBorder));
    margin-left: calc(0.5 * var(--orbit) - 0.5* var(--planet) - 0.5 * var(--sizeBorder) );
    position: absolute;
}

.orbitUranus {
    --orbit:var(--sizeUranusOrbit);
    --time:var(--orbUranus);

    background-size: 200%;
    border: var(--sizeBorder) rgba(248, 198, 246, 0.356) dashed;
    height: var(--orbit);
    width: var(--orbit);
    position: fixed;
    top:-100%; right:-100%; left:-100%; bottom:-100%;
    margin:auto;
    border-radius: 50%;
    -webkit-animation: orb var(--time) linear infinite;
    animation: orb var(--time) linear infinite;
    -webkit-animation-delay: calc(-0.9 * var(--time));
    animation-delay: calc(-0.9 * var(--time));
    z-index: 14;
}

.planetUranus {
    --orbit:var(--sizeUranusOrbit);
    --planet:var(--sizeUranus);
    --color : var(--colorUranus);

    border-radius: 50%;
    height: var(--planet);
    width: var(--planet);
    background: var(--color);
    margin-top: calc(-0.5 * var(--planet) - 0.5 * var(--sizeBorder));
    margin-left: calc(0.5 * var(--orbit) - 0.5* var(--planet) - 0.5 * var(--sizeBorder) );
    position: absolute;
}

.orbitNeptune {
    --orbit:var(--sizeNeptuneOrbit);
    --time:var(--orbNeptune);

    background-size: 200%;
    border: var(--sizeBorder) rgba(248, 198, 246, 0.356) dashed;
    height: var(--orbit);
    width: var(--orbit);
    position: fixed;
    top:-100%; right:-100%; left:-100%; bottom:-100%;
    margin:auto;
    border-radius: 50%;
    -webkit-animation: orb var(--time) linear infinite;
    animation: orb var(--time) linear infinite;
    -webkit-animation-delay: calc(-0.9 * var(--time));
    animation-delay: calc(-0.9 * var(--time));
    z-index: 14;
}

.planetNeptune {
    --orbit:var(--sizeNeptuneOrbit);
    --planet:var(--sizeNeptune);
    --color : var(--colorNeptune);

    border-radius: 50%;
    height: var(--planet);
    width: var(--planet);
    background: var(--color);
    margin-top: calc(-0.5 * var(--planet) - 0.5 * var(--sizeBorder));
    margin-left: calc(0.5 * var(--orbit) - 0.5* var(--planet) - 0.5 * var(--sizeBorder) );
    position: absolute;
}

.space .moonOrbit{
    border: var(--sizeBorder) solid rgba(248, 198, 246, 0.356);
    border-radius: 50%;
    height: var(--sizeMoonOrbit);
    width: var(--sizeMoonOrbit);
    margin-top: calc( -0.5*var(--sizeEarth) - var(--sizeBorder));
    margin-left: calc(-0.5 * var(--sizeMoonOrbit) + 0.5 * var(--sizeEarth) - var(--sizeBorder));
    position: absolute;
    -webkit-animation: orb var(--orbMoon) linear infinite;
    animation: orb var(--orbMoon) linear infinite;
}

.space .moon {
    border-radius: 50%;
    height: var(--sizeMoon);
    width: var(--sizeMoon);
    background: #828b8f;
    margin-top: calc(-0.5 * var(--sizeMoon) );
    margin-left: calc(0.5 * var(--sizeMoonOrbit) - 0.5* var(--sizeMoon));
    position: absolute
}

@-webkit-keyframes orb {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}
@keyframes orb {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

